In [3]:

import pandas as pd
import numpy as np

In [4]:
population_data = pd.read_csv("data/population.csv")
population_data.head()

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
0,2017,1,Ciutat Vella,1,el Raval,Male,0-4,224
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,0-4,50
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,0-4,43
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,0-4,95
4,2017,2,Eixample,5,el Fort Pienc,Male,0-4,124

In [5]:
#Renaming columns 
popul_data = population_data.rename(columns={"District.Code": "DistrictCode","District.Name": "DistrictName","Neighborhood.Code": "NeighborhoodCode", "Neighborhood.Name":"NeighborhoodName"})
popul_data

,Year,DistrictCode,DistrictName,NeighborhoodCode,NeighborhoodName,Gender,Age,Number
0,2017,1,Ciutat Vella,1,el Raval,Male,0-4,224
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,0-4,50
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,0-4,43
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,0-4,95
4,2017,2,Eixample,5,el Fort Pienc,Male,0-4,124
...,...,...,...,...,...,...,...,...
70075,2013,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Female,>=95,21
70076,2013,10,Sant Martí,70,el Besòs i el Maresme,Female,>=95,25
70077,2013,10,Sant Martí,71,Provençals del Poblenou,Female,>=95,31
70078,2013,10,Sant Martí,72,Sant Martí de Provençals,Female,>=95,38
70079,2013,10,Sant Martí,73,la Verneda i la Pau,Female,>=95,47

In [6]:
popul_data.DistrictName.unique()

array(['Ciutat Vella', 'Eixample', 'Sants-Montjuïc', 'Les Corts',
       'Sarrià-Sant Gervasi', 'Gràcia', 'Horta-Guinardó', 'Nou Barris',
       'Sant Andreu', 'Sant Martí'], dtype=object)

In [7]:
popul_data.sample()

,Year,DistrictCode,DistrictName,NeighborhoodCode,NeighborhoodName,Gender,Age,Number
29448,2015,6,Gràcia,30,la Salut,Male,15-19,40

In [8]:
popul_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70080 entries, 0 to 70079
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              70080 non-null  int64
 1   DistrictCode      70080 non-null  int64
 2   DistrictName      70080 non-null  object
 3   NeighborhoodCode  70080 non-null  int64
 4   NeighborhoodName  70080 non-null  object
 5   Gender            70080 non-null  object
 6   Age               70080 non-null  object
 7   Number            70080 non-null  int64
dtypes: int64(4), object(4)
memory usage: 4.3+ MB

In [9]:
popul_data.columns

Index(['Year', 'DistrictCode', 'DistrictName', 'NeighborhoodCode',
       'NeighborhoodName', 'Gender', 'Age', 'Number'],
      dtype='object')

In [10]:
popul_data.isnull().sum()

Year                0
DistrictCode        0
DistrictName        0
NeighborhoodCode    0
NeighborhoodName    0
Gender              0
Age                 0
Number              0
dtype: int64

In [11]:
popul_data.index

RangeIndex(start=0, stop=70080, step=1)

In [12]:
popul_data.shape

(70080, 8)

In [13]:
popul_data.describe()

               Year  DistrictCode  NeighborhoodCode        Number
count  70080.000000  70080.000000      70080.000000  70080.000000
mean    2015.000000      6.246575         37.000000    114.844720
std        1.414224      2.788356         21.071458     96.540389
min     2013.000000      1.000000          1.000000      0.000000
25%     2014.000000      4.000000         19.000000     43.000000
50%     2015.000000      7.000000         37.000000     92.000000
75%     2016.000000      8.000000         55.000000    162.000000
max     2017.000000     10.000000         73.000000    777.000000

In [14]:
popul_data.dtypes

Year                 int64
DistrictCode         int64
DistrictName        object
NeighborhoodCode     int64
NeighborhoodName    object
Gender              object
Age                 object
Number               int64
dtype: object

In [15]:
popul_data.Number.sum()

8048318

In [43]:
(popul_data.groupby(["DistrictName", "Year"])["Number"].sum()).to_frame()

                          Number
DistrictName        Year
Ciutat Vella        2013  103339
                    2014  100685
                    2015  100115
                    2016  100070
                    2017  101387
Eixample            2013  264780
                    2014  263565
                    2015  263558
                    2016  264305
                    2017  266416
Gràcia              2013  120949
                    2014  120273
                    2015  120401
                    2016  120918
                    2017  121347
Horta-Guinardó      2013  167743
                    2014  166950
                    2015  166559
                    2016  167268
                    2017  168751
Les Corts           2013   81640
                    2014   81200
                    2015   81530
                    2016   81642
                    2017   82033
Nou Barris          2013  165748
                    2014  164516
                    2015  164648
                    2016  164881
                    2017  166579
Sant Andreu         2013  146846
                    2014  145983
                    2015  146494
                    2016  146731
                    2017  147594
Sant Martí          2013  232826
                    2014  232629
                    2015  233659
                    2016  233928
                    2017  235513
Sants-Montjuïc      2013  182685
                    2014  180824
                    2015  180757
                    2016  180977
                    2017  181910
Sarrià-Sant Gervasi 2013  145266
                    2014  145761
                    2015  146834
                    2016  148026
                    2017  149279

In [46]:
pop

0        Ciutat Vella
1        Ciutat Vella
2        Ciutat Vella
3        Ciutat Vella
4            Eixample
             ...
70075      Sant Martí
70076      Sant Martí
70077      Sant Martí
70078      Sant Martí
70079      Sant Martí
Name: DistrictName, Length: 70080, dtype: object

In [47]:
(popul_data.groupby(["DistrictName", "Year"])["Number"].sum()).to_frame()

                          Number
DistrictName        Year
Ciutat Vella        2013  103339
                    2014  100685
                    2015  100115
                    2016  100070
                    2017  101387
Eixample            2013  264780
                    2014  263565
                    2015  263558
                    2016  264305
                    2017  266416
Gràcia              2013  120949
                    2014  120273
                    2015  120401
                    2016  120918
                    2017  121347
Horta-Guinardó      2013  167743
                    2014  166950
                    2015  166559
                    2016  167268
                    2017  168751
Les Corts           2013   81640
                    2014   81200
                    2015   81530
                    2016   81642
                    2017   82033
Nou Barris          2013  165748
                    2014  164516
                    2015  164648
                    2016  164881
                    2017  166579
Sant Andreu         2013  146846
                    2014  145983
                    2015  146494
                    2016  146731
                    2017  147594
Sant Martí          2013  232826
                    2014  232629
                    2015  233659
                    2016  233928
                    2017  235513
Sants-Montjuïc      2013  182685
                    2014  180824
                    2015  180757
                    2016  180977
                    2017  181910
Sarrià-Sant Gervasi 2013  145266
                    2014  145761
                    2015  146834
                    2016  148026
                    2017  149279

In [17]:
(popul_data.groupby("Gender")["Number"].sum()).to_frame().reset_index()

   Gender   Number
0  Female  4238669
1    Male  3809649

In [33]:
(popul_data.groupby(["Age","Year"])["Number"].sum()).to_frame()

           Number
Age  Year
0-4  2013   69267
     2014   68901
     2015   68661
     2016   68286
     2017   68402
...           ...
>=95 2013    4251
     2014    4488
     2015    4751
     2016    5040
     2017    5415

[100 rows x 1 columns]

In [37]:
(popul_data.groupby(["Age","Year","Gender"])["Number"].sum()).to_frame()

                  Number
Age  Year Gender
0-4  2013 Female   33548
          Male     35719
     2014 Female   33510
          Male     35391
     2015 Female   33425
...                  ...
>=95 2015 Male       894
     2016 Female    4093
          Male       947
     2017 Female    4344
          Male      1071

[200 rows x 1 columns]

In [40]:
(popul_data.groupby(["DistrictCode","DistrictName","Year"])["Number"].sum()).to_frame()

                                       Number
DistrictCode DistrictName        Year
1            Ciutat Vella        2013  103339
                                 2014  100685
                                 2015  100115
                                 2016  100070
                                 2017  101387
2            Eixample            2013  264780
                                 2014  263565
                                 2015  263558
                                 2016  264305
                                 2017  266416
3            Sants-Montjuïc      2013  182685
                                 2014  180824
                                 2015  180757
                                 2016  180977
                                 2017  181910
4            Les Corts           2013   81640
                                 2014   81200
                                 2015   81530
                                 2016   81642
                                 2017   82033
5            Sarrià-Sant Gervasi 2013  145266
                                 2014  145761
                                 2015  146834
                                 2016  148026
                                 2017  149279
6            Gràcia              2013  120949
                                 2014  120273
                                 2015  120401
                                 2016  120918
                                 2017  121347
7            Horta-Guinardó      2013  167743
                                 2014  166950
                                 2015  166559
                                 2016  167268
                                 2017  168751
8            Nou Barris          2013  165748
                                 2014  164516
                                 2015  164648
                                 2016  164881
                                 2017  166579
9            Sant Andreu         2013  146846
                                 2014  145983
                                 2015  146494
                                 2016  146731
                                 2017  147594
10           Sant Martí          2013  232826
                                 2014  232629
                                 2015  233659
                                 2016  233928
                                 2017  235513

In [42]:
(popul_data.groupby(["DistrictName","NeighborhoodName","Year"])["Number"].sum()).to_frame()

                                                                Number
DistrictName        NeighborhoodName                      Year
Ciutat Vella        Sant Pere, Santa Caterina i la Ribera 2013   22769
                                                          2014   22358
                                                          2015   22457
                                                          2016   22306
                                                          2017   22721
...                                                                ...
Sarrià-Sant Gervasi les Tres Torres                       2013   15984
                                                          2014   16161
                                                          2015   16498
                                                          2016   16473
                                                          2017   16667

[365 rows x 1 columns]

In [22]:
(popul_data.groupby(["DistrictCode","DistrictName","Gender"])["Number"].sum()).to_frame()

                                         Number
DistrictCode DistrictName        Gender
1            Ciutat Vella        Female  240393
                                 Male    265203
2            Eixample            Female  709637
                                 Male    612987
3            Sants-Montjuïc      Female  472988
                                 Male    434165
4            Les Corts           Female  217859
                                 Male    190186
5            Sarrià-Sant Gervasi Female  398621
                                 Male    336545
6            Gràcia              Female  327386
                                 Male    276502
7            Horta-Guinardó      Female  443771
                                 Male    393500
8            Nou Barris          Female  436642
                                 Male    389730
9            Sant Andreu         Female  385474
                                 Male    348174
10           Sant Martí          Female  605898
                                 Male    562657

In [23]:
(popul_data.groupby(["DistrictCode","DistrictName","NeighborhoodCode","NeighborhoodName","Gender"])["Number"].sum()).to_frame()

                                                                            Number
DistrictCode DistrictName NeighborhoodCode NeighborhoodName         Gender
1            Ciutat Vella 1                el Raval                 Female  108376
                                                                    Male    129792
                          2                el Barri Gòtic           Female   37580
                                                                    Male     41581
                          3                la Barceloneta           Female   37943
...                                                                            ...
10           Sant Martí   71               Provençals del Poblenou  Male     48837
                          72               Sant Martí de Provençals Female   68978
                                                                    Male     61064
                          73               la Verneda i la Pau      Female   75468
                                                                    Male     68573

[146 rows x 1 columns]

In [24]:
(popul_data.groupby("Year")["Number"].sum()).to_frame()

       Number
Year
2013  1611822
2014  1602386
2015  1604555
2016  1608746
2017  1620809

In [25]:
(popul_data.groupby(["Year","Gender"])["Number"].sum()).to_frame()

             Number
Year Gender
2013 Female  848121
     Male    763701
2014 Female  844070
     Male    758316
2015 Female  845035
     Male    759520
2016 Female  847259
     Male    761487
2017 Female  854184
     Male    766625

In [26]:
(popul_data.groupby(["Year","DistrictName"])["Number"].sum()).to_frame()

                          Number
Year DistrictName
2013 Ciutat Vella         103339
     Eixample             264780
     Gràcia               120949
     Horta-Guinardó       167743
     Les Corts             81640
     Nou Barris           165748
     Sant Andreu          146846
     Sant Martí           232826
     Sants-Montjuïc       182685
     Sarrià-Sant Gervasi  145266
2014 Ciutat Vella         100685
     Eixample             263565
     Gràcia               120273
     Horta-Guinardó       166950
     Les Corts             81200
     Nou Barris           164516
     Sant Andreu          145983
     Sant Martí           232629
     Sants-Montjuïc       180824
     Sarrià-Sant Gervasi  145761
2015 Ciutat Vella         100115
     Eixample             263558
     Gràcia               120401
     Horta-Guinardó       166559
     Les Corts             81530
     Nou Barris           164648
     Sant Andreu          146494
     Sant Martí           233659
     Sants-Montjuïc       180757
     Sarrià-Sant Gervasi  146834
2016 Ciutat Vella         100070
     Eixample             264305
     Gràcia               120918
     Horta-Guinardó       167268
     Les Corts             81642
     Nou Barris           164881
     Sant Andreu          146731
     Sant Martí           233928
     Sants-Montjuïc       180977
     Sarrià-Sant Gervasi  148026
2017 Ciutat Vella         101387
     Eixample             266416
     Gràcia               121347
     Horta-Guinardó       168751
     Les Corts             82033
     Nou Barris           166579
     Sant Andreu          147594
     Sant Martí           235513
     Sants-Montjuïc       181910
     Sarrià-Sant Gervasi  149279